/* == ABOUT PAGE ONLY == */

.why-pf {--hd-color:#ffffff; color:#ffffff; position:relative; border-radius: 1rem; background: linear-gradient(121deg,rgba(0, 28, 51, 1) 20%, rgba(0, 14, 26, 1) 49%, rgba(0, 75, 135, 1) 81%); }

.why-pf:before {content: '';  opacity: 0.1; position: absolute; inset: 0; pointer-events: none;
    background: url('../assets/img/global/wave-light-sm.webp') no-repeat; background-size: cover; background-position: bottom right;}

.why-pf h4 {font-size:2rem; margin-left:1rem;}
.why-pf .border-right {border-right: 5px solid var(--ada-blue);}

.why-pf .btn.btn-outline { color: var(--ada-blue);  border-color: var(--ada-blue);}
.why-pf .btn.btn-outline:hover { color: #ffffff;  border-color: #ffffff;}
.why-pf a {color:var(--gtex-oj);}