/* == DISTRIBUTOR PAGE ONLY == */

.hero { background-image: url('../img/hero/hero-distributor.jpg'); background-position:left top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
.hero::after  { content: ""; position: absolute; inset: 0; pointer-events: none; background: linear-gradient(0deg,rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 0.1) 35%);}

@media (max-width: 1200px) {.hero {background-image: url('../img/hero/hero-distributor-md.jpg'); background-position:right top;}}

.dist-list, .mobile-list {font-size:0.95rem;}
.dist-list div.row {padding:8px 3px; border-radius:.375rem; }
.dist-list div.row:nth-of-type(2n+1) { background-color: rgba(0,0,0,.05);}
.dist-header {font-weight: bold; text-transform: uppercase; background-color: #000000 !important; color:#ffffff; padding:5px 3px;}
.dist-name {font-weight: 600;}
.dist-name a,
.dist-rep a {color:#e67904; border:0;}
.info-card {border:1px solid #dee2e6; border-radius:.375rem; padding:1rem; background: rgba(248,249,250,1);}

#country-filter {padding:.4rem.75rem; font-size:1rem; height:auto;}

.info-card.single {line-height:1.6;}
.card-countries {--hd-color:#ffffff; color:#ffffff; border-radius: 1rem; padding:2rem; background: linear-gradient(121deg,rgba(0, 28, 51, 1) 20%, rgba(0, 14, 26, 1) 49%, rgba(0, 75, 135, 1) 81%); }

