/* == DISTRIBUTOR PAGE ONLY == */

.hero:before {content: '';  opacity: 1; position: absolute; inset: 0; background-repeat: no-repeat; background-position: top right; background-size: cover;
    background-image: url('../img/hero/hero-dust-particles-sm.jpg'); }

@media (min-width: 600px) {.hero:before { background-image:url('../img/hero/hero-dust-particles-md.jpg');} }
@media (min-width: 1200px) {
    .hero { min-height: 50vh; }
    .hero:before { background-image: url('../img/hero/hero-dust-particles.jpg'); background-attachment: fixed; }
}

.dist-list, .mobile-list {font-size:0.95rem;}
.dist-list div.row {padding:8px 3px; border-radius:.375rem; }
.dist-list div.row:nth-of-type(2n+1) { background-color: rgba(0,0,0,.05);}
.dist-header {font-weight: bold; text-transform: uppercase; background-color: #000000 !important; color:#ffffff; padding:5px 3px;}
.dist-name {font-weight: 600;}
.dist-name a,
.dist-rep a {color:#e67904; border:0;}
.info-card {border:1px solid #dee2e6; border-radius:.375rem; padding:1rem; background: rgba(248,249,250,1);}

#country-filter {padding:.4rem.75rem; font-size:1rem; height:auto;}
